.logo-content {
  width: 45%;
}


.login-form {
  width: 30%;

}

.login-area {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}

.login-image img {
  width: 600px;
}

